<div class="center hero-unit">
  <h1>Welcome to Hobo Notes</h1>

  <% @users.each do |user| %>
  	<p>User: <%= user.name %></p>
  <% end %>

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
</div>
